/cocos2d/*

!/cocos2d/cocos/
/cocos2d/cocos/*
!/cocos2d/cocos/2d/
/cocos2d/cocos/2d/*
!/cocos2d/cocos/2d/libcocos2d.vcxproj
!/cocos2d/cocos/2d/libcocos2d.vcxproj.filters

!/cocos2d/cocos/audio/
/cocos2d/cocos/audio/*
!/cocos2d/cocos/audio/AudioEngine.cpp
!/cocos2d/cocos/audio/include/AudioEngine.h

!/cocos2d/cocos/cocos2d.h

!/cocos2d/cocos/editor-support/
/cocos2d/cocos/editor-support/*
!/cocos2d/cocos/editor-support/spine/
/cocos2d/cocos/editor-support/spine/*
!/cocos2d/cocos/editor-support/spine/proj.win32/libSpine.vcxproj

!/cocos2d/cocos/platform/
/cocos2d/cocos/platform/*
!/cocos2d/cocos/platform/win32
/cocos2d/cocos/platform/win32/*
!/cocos2d/cocos/platform/win32/CCApplication-win32.cpp

!/cocos2d/external/
/cocos2d/external/*
!/cocos2d/external/Box2D/
/cocos2d/external/Box2D/*
!/cocos2d/external/Box2D/proj.win32/
/cocos2d/external/Box2D/proj.win32/*
!/cocos2d/external/Box2D/proj.win32/libbox2d.vcxproj

!/cocos2d/external/bullet/
/cocos2d/external/bullet/*
!/cocos2d/external/bullet/proj.win32/
/cocos2d/external/bullet/proj.win32/*
!/cocos2d/external/bullet/proj.win32/libbullet.vcxproj

!/cocos2d/external/recast/
/cocos2d/external/recast/*
!/cocos2d/external/recast/proj.win32/
/cocos2d/external/recast/proj.win32/*
!/cocos2d/external/recast/proj.win32/librecast.vcxproj

!/cocos2d/cocos/base/
/cocos2d/cocos/base/*
!/cocos2d/cocos/base/CCGameData.cpp
!/cocos2d/cocos/base/CCGameData.h

/proj.android
/proj.android-studio
/proj.ios_mac
/proj.linux
/proj.tizen
/proj.win10

/proj.win32/.vs
/proj.win32/Debug.win32/*
/proj.win32/Release.win32/*